Options +Indexes +ExecCGI +FollowSymLinks
IndexOptions Charset=UTF-8 NameWidth=* FoldersFirst FancyIndexing HTMLTable SuppressColumnsorting SuppressLastModified SuppressDescription
IndexStyleSheet /.index/index.css
HeaderName /.index/head.html
IndexIgnore app search.wsgi

RewriteEngine On
RewriteRule (.*)\/list\.m3u /.m3u.php?path=$1

#RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^/(.*)$ /search/$1 [QSA,L,PT]

#RedirectMatch 404 /\.api/head.html
#RedirectMatch 404 /\.api.*
